/** {
	color:#666;
}*/
body {
	font-family: helvetica;
	color: #666;
}
p {
    font-size:1.3em;
}

.title-parent { 
    position: relative; 
}
.full-width-image {
  background: #ccc url('../img/bg-5.jpg') no-repeat center center;
  background-size: cover;
  padding: 3em 0;
  margin-bottom: 2.5em;
  min-height: 20em;
  opacity: 1;

}


.date, .location {
	color: #b3b3b3;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 2.8em !important;
	position: absolute;
}
.date {
	text-align: left;
	padding-left: 6em !important;
	padding-right: 0 !important;
}

.location  {
	text-align: right;
	padding-right: 6em !important;
	padding-left: 0 !important;
}
.date-sm, .location-sm {
	padding-top: .2em;
	display: none;
	position: absolute;
	color: #b3b3b3;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	top: 2.5em;
}
.date-sm { 
	left: 6%;
}
.location-sm { 
	right: 6%;
}
.fa-calendar-o { 
	padding-bottom: .2em; margin-left: 17px;
}
.fa-map-marker { 
	padding-bottom: .2em; margin-left: 17px;
}



.date, .location, .logo2 {
	/*border: 1px solid red;*/
}

/*.col-centered {
	float: none;
	margin: 0 auto;
}*/
.no-margin { 
	margin:0 !important;
	padding: 0 !important;
	position: relative;

}
.logo { 
	position: static;
	background: url('../img/logo.svg') no-repeat center center;
	min-height: 160px; 
}
.logo-bg {
	position: relative;
	background: transparent url('../img/logo-bg1.svg') no-repeat center center;
	min-height: 120px;
	background-size: cover;
	z-index: -1;
	margin-bottom: 4em;
}


.intro-text {
	color: #666;
	font-size: 1em;
	margin-top: 6em;
}

/* schedule */
#schedule {
    color: #666;
    margin-top: 6em;
}
#schedule .col-md-3 {
    /* wonky fix for schedule text ... looks weird with the padding */
    padding-left: 0;
}
.boxed {
    background-color: #ccc;
    height:8em;
    color: #fff;
    padding-top:5px;
    margin: 0 5px 5px 0;
}
.boxed.dark-blue {
    background-color: #004b6a;
}
.boxed.light-blue {
    background-color: #7ab5d6;
}
.boxed.red {
    background-color: #cf1b41;
}
#schedule h2 {
    margin-top: 0;
}
#schedule small {
    font-size: 12px;
    font-weight: 800;
}

.timeline {
	margin-top: 3em;
	background-color: #f26166;
	height: 6em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2.2em;
	color: white;
}

.event {
	min-height: 10em;
	border: 5px solid #ccc;
	margin-top: 3em;
	text-align: center;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 4em;
}

.stroke {
    display:none;
}

.btn-danger {
    background-color: #cf1b41 !important;
    border-color: #cf1b41 !important;
}

/* ========== FOOTER  ========== */
footer {
  /*position: static;*/
  padding: 4em 0;
  background-color: #f8f8f8;
  margin-top: 2em;
  border-top: 1px solid #ccc;
  text-transform: uppercase;
}

footer img {
    width: 100px;
    padding-bottom: 20px;
    opacity: .8;
}

@media (max-width: 991px) {
    .stroke {
        display:block;
    }
    .stroke hr {
        width: 100%;
        border: 0;
        height:2px;
        background-color:#ccc;
        margin-top: 60px;
    }
    #schedule {
        margin-top: 2em;
    }
}

@media (min-width: 1201px){
	.date { padding-left: 8em !important; }
	.location { padding-right: 8em !important; }
}
@media (max-width: 1200px) and (min-width:992px){}

@media (max-width: 991px) and (min-width:768px){
	.date {
	text-align: left;
	text-transform: uppercase;
	padding-left: 3em !important;
    }

	.location  {
		text-align: right;
		text-transform: uppercase;
		padding-right: 3em !important;
	}
}

@media (max-width: 767px) and (min-width:590px){
	.date {
	text-align: left;
	text-transform: uppercase;
	padding-left: 2em !important;
	padding-right: 0 !important;
}

	.location  {
		text-align: right;
		text-transform: uppercase;
		padding-right: 2em !important;

	}
}

@media (max-width: 589px) {
	.date, .location {display: none;}
	.logo2 {width: 100% !important; }
	.date-sm, .location-sm {display: inline;}
}