body {
    margin:0;
    padding:0;
    text-align: center;
}

p {
    margin:0;
    font: Georgia, serif;
    font-style: oblique;
    color:white;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 200;
}

img {
    width:75%;
    margin-top:23vh;
}

.container {
    background-color: #cf1b41 !important; /* start with cfa red */
    z-index:-1;
    width:100%;
    height:100vh;
}

@-webkit-keyframes colours {
    /* cfa red */
    0%   {  background-color: #cf1b41;  } 
    /* cfa blue */
    25%  {  background-color: #399fd3;  }
    /* cfa teal */
    50%  {  background-color: #00a175;  }
    /* cfa purple */
    75%  {  background-color: #69579C;  }
    /* cfa red, completes loop */
    100% {  background-color: #cf1b41;  }
}

@-moz-keyframes colours {
    /* cfa red */
    0%   {  background-color: #cf1b41;  } 
    /* cfa blue */
    25%  {  background-color: #399fd3;  }
    /* cfa orange */
    50%  {  background-color: #e87d2b;  }
    /* cfa purple */
    75%  {  background-color: #69579C;  }
    /* cfa red, completes loop */
    100% {  background-color: #cf1b41;  }
}

.container {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
    -moz-animation-direction: normal;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: colours;
    -moz-animation-timing-function: ease;
}